@charset "utf-8";
.navbar-default {
  background-color: #052a3f;
  border-color: #093140;
}
.navbar-default .navbar-brand {
  color: #c5e1e8;
  background-image: url(..);
  background-repeat: no-repeat;
  padding-left: 125px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-image: url(..);
  background-repeat: no-repeat;
  font-size: 25px;
}
.navbar-default .navbar-text {
  color: #0a3945;
}
.navbar-default .navbar-nav > li > a {
  color: #c5e1e8;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #0e3143;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #c5e1e8;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  /* background-color: #1b7fa4; */
  background-color: #052a3f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  /* background-color: #1b7fa4; */
  background-color: #052a3f;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  /* background-color: #1b7fa4; */
  background-color: #052a3f;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  /* background-color: #1b7fa4; */
  background-color: #052a3f;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  /* background-color: #1b7fa4; */
  background-color: #052a3f;
}
.navbar-default .navbar-toggle {
  border-color: #052a3f;
  color: #fdfdfd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  /* background-color: #1b7fa4; */
  background-color: #052a3f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #c5e1e8;
  text-align: center;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #c5e1e8;
}
.navbar-default .navbar-link {
  color: #c5e1e8;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

.raw {
  background-color: darkcyan;
}

.Ikonki {
  /* font-family: 'Comic Neue', cursive;*/
  font-family: "Open Sans", sans-serif;
}
.row {
  /*  font-family: 'Comic Neue', cursive; */
  font-family: "Open Sans", sans-serif;
}

img {
  margin-top: 5%;
  margin-bottom: 2%;
  transition: all 2s, transform 0.5s, box-shadow 0.5s;
}

img:hover {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.6);
  transform: scale(1.02);
}

/*img:focus {
    
    box-shadow: 12px 12px 25px rgba(0,0,0,.7);
    width: 86%;
    transform: none;
    
    
}

*/

#back {
  box-shadow: none;
  transition: none;
  transform: none;
  margin: auto;
}

img[src$="icon.svg"] {
  width: 50px;
  height: auto;
  margin: 10px auto;
  display: block;
}
#feature .col-sm-12.col-sm-offset-1 h2 {
  text-align: center;
  /* [disabled]background-color: #165070; */
}
#feature h2 {
  color: #fdfdfd;
}
#feature p {
  color: #fdfdfd;
  font-size: 1.4em;
}

#feature {
  background-color: #052a3f;
  background-image: -webkit-linear-gradient(
    270deg,
    rgb(2, 26, 39) 0%,
    rgb(5, 22, 37) 100%
  );
  background-image: -moz-linear-gradient(
    270deg,
    #052a3f 0%,
    rgb(10, 31, 50) 100%
  );
  background-image: -o-linear-gradient(
    270deg,
    #052a3f 0%,
    rgb(11, 46, 77) 100%
  );
  background-image: linear-gradient(180deg, #052a3f 0%, #052d44 100%);
}
footer {
  background-color: #f0f0f5;
  color: #c0c0c0;
  text-align: center;
  font-size: 0.8em;
}

#linkedInFooter {
  margin-left: 2%;
  margin-right: 2%;
}

body {
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Open Sans", sans-serif;
}
body p {
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  background: none;
}

@media screen {
}

#topImageIndexPage {
  position: relative;
  color: #052a3f;
}

#topImageIndexPage h1 {
  position: absolute;
  bottom: 18px;
  left: 35px;
  color: #052a3f;
  font-size: 2.8em;
}

@media (max-width: 649px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #c5e1e8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    /*background-color: #1b7fa4; */
    background-color: #3f3f3f;
  }
  #topImageIndexPage h1 {
    font-size: 1.6em;
  }
}

body,
td,
th {
  color: #00020a;
  background-color: #f0f5f5;
}

.btn {
  background-color: #052a3f !important;
}
