body,
td,
th {
  color: #00020a;
  background-color: #052a3f;
}

#mainRowAfterBlueBackground {
  background-color: #052a3f;
}

.heading2inSoftwareDevelopment {
  margin-left: 2%;
  margin-right: 5%;
}

#featureTop .col-sm-12.col-sm-offset-1 h2 {
  text-align: center;
}

#featureTop h2 {
  color: #fdfdfd;
}
#featureTop p {
  color: #fdfdfd;
  font-size: 1.4em;
}

#featureTop {
  background-color: #052a3f;
  background-image: -webkit-linear-gradient(
    270deg,
    #052a3f 0%,
    rgb(7, 39, 69) 100%
  );
  background-image: -moz-linear-gradient(
    270deg,
    #052a3f 0%,
    rgb(4, 42, 81) 100%
  );
  background-image: -o-linear-gradient(
    270deg,
    #052a3f 0%,
    rgb(11, 36, 57) 100%
  );

  margin-bottom: 2%;
}

#featureWebDesign p {
  text-align: left;
  /* [disabled]background-color: #165070; */
}
#featureWebDesign h2 {
  color: #fdfdfd;
}
#featureWebDesign p {
  color: #fdfdfd;
  font-size: 1.3em;
}

#featureWebDesign {
  background-color: #052a3f;
  background-image: -webkit-linear-gradient(
    270deg,
    #052a3f 0%,
    rgb(7, 39, 69) 100%
  );
  background-image: -moz-linear-gradient(
    270deg,
    #052a3f 0%,
    rgb(4, 42, 81) 100%
  );
  background-image: -o-linear-gradient(
    270deg,
    #052a3f 0%,
    rgb(11, 36, 57) 100%
  );

  margin-bottom: 2%;
}

#sectionWebDesign .col-sm-12.col-sm-offset-1 h2 {
  text-align: center;
}

#sectionWebDesign h2 {
  color: #fdfdfd;
}
#sectionWebDesign p {
  color: #fdfdfd;
  font-size: 1.4em;
}

#sectionWebDesign {
  background-color: #052a3f;
  background-image: -webkit-linear-gradient(
    270deg,
    #052a3f 0%,
    rgb(7, 39, 69) 100%
  );
  background-image: -moz-linear-gradient(
    270deg,
    #052a3f 0%,
    rgb(4, 42, 81) 100%
  );
  background-image: -o-linear-gradient(
    270deg,
    #052a3f 0%,
    rgb(11, 36, 57) 100%
  );

  margin-bottom: 2%;
}

#linkedInFooter {
  margin-left: 2%;
  margin-right: 2%;
}
